@use "../../scss//global/colors" as *;
@use "../../scss/utils/functions" as fn;

.hideMenu {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;

  .NewContainer {
    .Newoutlet {
      margin: 24px;
    }
    @media screen and (max-width: 855px) {
      width: 100%;
    }
    @media screen and (max-width: 430px) {
      width: 100%;
    }
  }
}

.hide {
  margin: 24px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  background-color: $background;
  @media screen and (max-width: 855px) {
    width: 100%;
    grid-template-columns: auto;
  }
  @media screen and (max-width: 430px) {
    width: 100%;
    grid-template-columns: auto;
  }

  .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    @media screen and (max-width: 855px) {
      position: fixed;
      width: 50%;
      left: 0;
      right: 0;
      z-index: 50;
    }
    @media screen and (max-width: 430px) {
      position: fixed;
      width: 60%;
      left: 0;
      right: 0;
      z-index: 50;
    }
  }

  .outletContainer {
    width: 100%;
    .outlet {
      min-height: calc(100vh - 82px);
      padding: 24px 32px;
    }
    @media screen and (max-width: 430px) {
      width: 100%;
    }
    
  }
}
