@use "../../../../../../scss/global/colors" as *;
@use "../../../../../../scss/utils/functions" as fn;

.main {
  display: flex;
  flex-direction: column;
  gap: fn.rem(24);
  @media screen and (max-width: 540px) {
    gap: fn.rem(14);
  }

  .Container {
    background-color: $background;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: fn.rem(24);
    @media screen and (max-width: 540px) {
      gap: fn.rem(14);
    }
  }

  tbody {
    text-align: center;
    color: $table-head;
    font-weight: 400;
    font-size: 16px;

    tr:nth-child(even) {
      background-color: $lighter-blue;
    }

    td {
      padding: fn.rem(14);
      cursor: pointer;

      .button {
        background-color: transparent;
        cursor: pointer;
      }
    }
    .customTD1 {
      text-align: left;
      border-radius: 0 0 0 8px;
    }
    .customTD2 {
      text-align: left;
    }

    .customTD6 {
      border-radius: 0 0 8px 0;
      position: relative;
      width: 10%;

      .optionModal {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 16px;
        background-color: #fff;
        padding: 8px 8px 12px;
        border-radius: 4px;
        box-shadow: 0px 25px 45px 0px #5c5c5c1a;
        z-index: 50;
      }

      .optionButton {
        font-size: 12px;
        color: #8d8d8d;
        background-color: #fff;
        cursor: pointer;
      }
      .view {
        color: green;
        display: inline;
        border-bottom: 2px solid $white;
        &:hover {
          border-bottom: 2px solid green;
        }
      }
      .update {
        color: orange;
        display: inline;
        border-bottom: 2px solid $white;
        &:hover {
          border-bottom: 2px solid orange;
        }
      }
      .delete {
        color: red;
        display: inline;
        border-bottom: 2px solid $white;
        &:hover {
          border-bottom: 2px solid red;
        }
      }
    }
  }

  .paginationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: fn.rem(12);
    padding: fn.rem(8) fn.rem(14);
    background-color: $blue;
    border-radius: 8px;
    color: $white;

    .prevBtn {
      background-color: transparent;
      cursor: pointer;
      color: white;
      display: inline;
      border-bottom: 2px solid $blue;
      &:not(:disabled):hover {
        border-bottom: 2px solid $white;
      }
      &:disabled {
        color: lightgray;
        cursor: not-allowed;
      }
    }
    .nextBtn {
      background-color: transparent;
      cursor: pointer;
      color: white;
      display: inline;
      border-bottom: 2px solid $blue;
      &:not(:disabled):hover {
        border-bottom: 2px solid $white;
      }
      &:disabled {
        color: lightgray;
        cursor: not-allowed;
      }
    }
  }
}
