@use "../../scss/global//colors" as *;
@use "../../scss/utils/functions" as fn;

.main {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  padding-right: 32px;
  // background-color: $dark-green;
  background-color: $blue;
  z-index: 10;

  .profileDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    column-gap: fn.rem(8);
  }

  .name {
    color: white;
  }

  .path {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: fn.rem(24);
    padding-right: 24px;
    color: white;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: fn.rem(20);
    column-gap: fn.rem(10);
    color: white;
   @media screen and (max-width: 430px) {
    font-size: fn.rem(16);
   }
  }
}

.logoContainer {
  padding-top: 6px;
  .logo {
    width: 200px;
  }
}
.menuIcon {
  cursor: pointer;
}

.Newmain {
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 12px 24px;
  margin-bottom: 12px;
  // background-color: $dark-green;
  background-color: $blue;
  z-index: 10;

  .Newpath {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: fn.rem(24);
    padding-right: 24px;
    color: white;
  }

  .Newmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: fn.rem(20);
    column-gap: fn.rem(10);
    color: white;
  }
  .newProfileDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    column-gap: fn.rem(8);
    .name {
      color: white;
    }
  }
}
