@use "../../../scss/global/colors" as *;
@use "../../../scss/utils/functions" as fn;

.form {
  display: flex;
  flex-direction: column;
  gap: fn.rem(40);
  .arrowLeft {
    width: fn.rem(30);
    height: fn.rem(30);
    cursor: pointer;
  }

  .header {
    max-width: fn.rem(560);
    .head {
      font-size: fn.rem(35);
      color: $heading-bold;
      @media screen and (min-width: 1500px) {
        font-size: fn.rem(40);
      }
    }
    .subtitle {
      font-size: fn.rem(20);
      color: $text-alt;
      margin-top: fn.rem(10);
    }
    @media screen and (min-width: 1500px) {
      max-width: fn.rem(800);
    }
  }
  .formContent {
    display: flex;
    flex-direction: column;
    gap: fn.rem(20);

    .namesDiv {
      display: grid;
      grid-template-columns: auto auto;
      gap: fn.rem(26);
      width: 100%;
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      gap: fn.rem(10);
      .checkboxText {
        font-size: 18px;

        .span {
          font-weight: 600;
          color: $blue;
        }
      }
    }

    .buttonDiv {
      display: flex;
      flex-direction: column;
      gap: fn.rem(10);
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: fn.rem(22);
      }
      .signupLink {
        text-align: center;
        font-size: fn.rem(17);
        font-weight: 500;
        .span {
          font-weight: 500;
          cursor: pointer;
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: fn.rem(8);
  width: 100%;
}

.label {
  font-size: fn.rem(18);
  color: #8a8a8a;
  font-weight: 500;
}

.selectInput {
  width: 100%;
  color: $text;
  font-size: fn.rem(18);
  background-color: $dim-white;
  padding: fn.rem(12);
  border-radius: fn.rem(6);
  border: 1px solid $border;

  &:focus {
    border: 1px solid $text;
    outline: none; // Keeps the custom border even on focus
  }

  &:active {
    border: 1px solid $text; // Ensures the selected state doesn't revert to blue
  }

  &:focus-visible {
    border-color: $text; // Ensures the border stays gray when focused via keyboard
    outline: none;
  }
}
