@use "../../../scss/global/colors" as *;
@use "../../../scss/utils/functions" as fn;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  max-width: fn.rem(560);
  height: 50vh;
  .head {
    font-size: fn.rem(35);
    color: $heading-bold;
    @media screen and (min-width: 1500px) {
      font-size: fn.rem(40);
    }
  }
  .subtitle {
    font-size: fn.rem(20);
    margin-top: fn.rem(10);
  }
  @media screen and (min-width: 1500px) {
    max-width: fn.rem(800);
  }
}
