// VARIABLES
$background: #ffffff;
$white: #fff;
$secondary-color: black;
$text: #656565;
$blue: #0E1C4D;
$light-blue: #E3E8F0;
$light-green: #E0F2E9;
$dark-green: #1a3426;
$newText: #d1d1d1;

$dim-white: #fafafa;
$border: #E4E4E4;
$heading-bold: #1a273a;
$text-light: #f2f2f2;
$text-alt: #868686;
$secondary-color-dark: #032211;
