@use "../../scss/global/colors" as *;
@use "../../scss/utils/functions" as fn;

.main {
  background-color: $background;
  border: 1px solid $shadow-white;
  border-radius: 8px;

  .table {
    width: 100%;
    border-collapse: collapse;

    th {
      padding: fn.rem(14);
      font-size: fn.rem(14);
      font-weight: 500;
      border-bottom: 1px dashed $shadow-white;
      text-transform: uppercase;
    }

    .th {
      text-align: center;
      color: $table-head;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
