@use "../../../../../scss/global/colors" as *;
@use "../../../../../scss/utils/functions" as fn;

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: fn.rem(24);

  .title {
    font-size: 20px;
    font-weight: 700;
    color: $secondary-color-dark;
    text-transform: uppercase;
  }

  .form {
    display: flex;
    flex-direction: column;
    row-gap: fn.rem(20);
    width: 100%;

    .divs {
      display: flex;
      flex-direction: row;
      column-gap: fn.rem(50);
      width: 100%;
    }

    .firstDiv {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: fn.rem(31);
    }

    .secondDiv {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: fn.rem(31);
    }

    .selectDiv {
      display: flex;
      flex-direction: column;
      gap: fn.rem(8);
      width: 100%;
    }

    .label {
      font-size: fn.rem(18);
      color: #8a8a8a;
      font-weight: 500;
      @media screen and (max-width: 414px) {
        font-size: fn.rem(14);
      }
    }

    .select {
      border-radius: 6px;
      border: 1px solid $border;
      background-color: $dim-white;
    }
  }
}
